





mixin navlink(text,location)
    li.nav-item
    a.nav-link(href=location)= text
.navbar.space-top-page.navbar-expand-xl.bg-light.fixed-top.container
  a.navbar-brand(href='/') Classified Ads
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='#navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
     ul.navbar-nav.mr-auto
     // uscu
     .navbar.nav.left
         +navlink('Home', '/')
         +navlink('Products','/products')
         +navlink('Register','/register')
         +navlink('Login', '/login')
         

         